main/default/flows/Sanction_Failed_Review_Action_Celerity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>FOR CELERITY</description>
        <name>Email_Alert_for_Clear_Sanction</name>
        <label>Email Alert for Clear Sanction</label>
        <locationX>1556</locationX>
        <locationY>35</locationY>
        <actionName>Task.Email_Alert_for_Clear_Sanction</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ProcessCompletionScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Task_For_Request_Request</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Collect_All_Opportunity_To_Decline</name>
        <label>Collect All Opportunity To Decline</label>
        <locationX>2141</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>OpportunityListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_the_List_Of_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_the_List_Of_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sanction_Id</name>
        <label>Set Sanction Id</label>
        <locationX>472</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>sanctionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SanctionObj_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SanctionObjStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SanctionObj_Records.Sanction_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queue_By_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>1986</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.Close_Reason_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Opportunity_To_Decline</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DeclineSubmissions</name>
        <choiceText>Confirm Sanctioned Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Sanctioned Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Fail_Choice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Confirm Sanctioned Account&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Sanctioned Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>RequestClearance</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Request Sanctions Clearance&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request Sanctions Clearance</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Declined_or_Cleared</name>
        <label>Declined or Cleared</label>
        <locationX>1122</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>RequestClearanceMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cleared</defaultConnectorLabel>
        <rules>
            <name>Declined</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Action_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeclineSubmissions</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fail_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fail_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decline_Submission_Screen</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Review_Been_Requested</name>
        <label>Has Review Been Requested</label>
        <locationX>820</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Clear_Sanctions_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecord.Review_Requested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Already_Requested_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sanction Failed Review Action for Ceerity</description>
    <dynamicChoiceSets>
        <name>SubmissionDeclineReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cel_Decline_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Sanction Failed Review Action Celerity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sanction Failed Review Action Celerity</label>
    <loops>
        <name>Loop_Over_the_List_Of_Opportunities</name>
        <label>Loop Over the List Of Opportunities</label>
        <locationX>1777</locationX>
        <locationY>401</locationY>
        <collectionReference>Get_Opportunities_To_Decline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decline_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_For_Request_Request</name>
        <label>Create Task For Request Request</label>
        <locationX>1507</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Email_Alert_for_Clear_Sanction</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getTaskRecordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunities_To_Decline</name>
        <label>Get Opportunities To Decline</label>
        <locationX>1645</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_the_List_Of_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubmissionRecordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Policy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Broker_count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_By_Name</name>
        <label>Get Queue By Name</label>
        <locationX>550</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTaskRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cel_Clear_Sanctions_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SanctionObj_Records</name>
        <label>Get SanctionObj Records</label>
        <locationX>396</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Sanction_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sanction_Status__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>282</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SanctionObj_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSubmissionRecordId</name>
        <label>getSubmissionRecordId</label>
        <locationX>1490</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities_To_Decline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Celerity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTaskRecordId</name>
        <label>getTaskRecordId</label>
        <locationX>702</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Review_Been_Requested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cel_Clear_Sanction_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Decline_Opportunities</name>
        <label>Decline Opportunities</label>
        <locationX>2074</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>OpportunityListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1894</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Update_SanctionObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endorsement_Update_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Note__c</field>
            <value>
                <elementReference>Decline_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_After_Request</name>
        <label>Update Account After Request</label>
        <locationX>1256</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Update_SanctionObj_After_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Endorsement_Update_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Account_Sanction_Status</name>
        <label>update Account Sanction Status</label>
        <locationX>1472</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>getSubmissionRecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEL_Sanction_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sanction_Status</name>
        <label>Update Sanction Status</label>
        <locationX>1318</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>update_Account_Sanction_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sanctionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sanction_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Sanction_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SanctionObj_After_Request</name>
        <label>Update SanctionObj After Request</label>
        <locationX>1377</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Create_Task_For_Request_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sanctionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Review_Requested_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sanction_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SanctionObject</name>
        <label>Update SanctionObject</label>
        <locationX>1749</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ProcessCompletionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sanctionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Note__c</field>
            <value>
                <elementReference>Decline_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Sanction_Status__c</object>
    </recordUpdates>
    <screens>
        <name>Clear_Sanctions_Request</name>
        <label>Clear Sanctions Request</label>
        <locationX>988</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Declined_or_Cleared</targetReference>
        </connector>
        <fields>
            <name>Action_Options</name>
            <choiceReferences>DeclineSubmissions</choiceReferences>
            <choiceReferences>RequestClearance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountRecord.CEL_Sanction_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Potential Match</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fail_Options</name>
            <choiceReferences>Fail_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountRecord.CEL_Sanction_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Decline_Note</name>
            <dataType>String</dataType>
            <fieldText>Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Decline_Note</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Confirm Sanctioned Account</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Action_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Confirm Sanctioned Account</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decline_Submission_Screen</name>
        <label>Decline Submission Screen</label>
        <locationX>1315</locationX>
        <locationY>417</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Sanction_Status</targetReference>
        </connector>
        <fields>
            <name>Decline_Submission_Warning</name>
            <fieldText>&lt;p&gt;{!DeclineSubmissionsWarnining}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProcessCompletionScreen</name>
        <label>ProcessCompletionScreen</label>
        <locationX>1697</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ProcessCompletionMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The process has been completed successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RequestClearanceMessage</name>
        <label>RequestClearanceMessage</label>
        <locationX>1137</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_After_Request</targetReference>
        </connector>
        <fields>
            <name>RequestSanctionsClearanceMessageDisplay</name>
            <fieldText>&lt;p&gt;{!RequestSanctionsClearanceMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Already_Requested_Screen</name>
        <label>Review Already Requested Screen</label>
        <locationX>978</locationX>
        <locationY>186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Review_Already_Request_Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A review has been requested for this sanctions flag.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DeclineSubmissionsWarnining</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You are about to confirm a positive sanction match for {!getAccountRecord.Name}. In doing so this will decline all&amp;nbsp;Submission records with status&amp;nbsp;not in &quot;Closed Won&quot;&amp;nbsp;related to this Account. Any active policies should be referred to compliance.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequestSanctionsClearanceMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;By making this clearance request for {!getAccountRecord.Name} you confirm that you have reviewed the record in sanctionssearch.com. You will be notified if clearance has been successful.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sanctionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SanctionObjStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Request to Clear Sanctions for {!getAccountRecord.Name}</stringValue>
        </value>
    </variables>
</Flow>
