main/default/flows/Sanction_Failed_Clear_Action_by_Reviewer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Clearance_Email_sent_by_Senior</name>
        <label>Clearance Email sent by Senior</label>
        <locationX>1580</locationX>
        <locationY>24</locationY>
        <actionName>Account.Clearance_Email_sent_by_Senior</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Complete_Open_Sanctions_Clearance_Request_Tasks</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Decline Sanction Email for Celerity</description>
        <name>DeclineSanctionEmailforCelerity</name>
        <label>Decline Sanction Email for Celerity</label>
        <locationX>2136</locationX>
        <locationY>513</locationY>
        <actionName>Account.Decline_Sanction_Email_for_Celerity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Sanction_Obj</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_User_of_Cleared_Sanctions</name>
        <label>Notify User of Cleared Sanctions</label>
        <locationX>1463</locationX>
        <locationY>337</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Clearance_Email_sent_by_Senior</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>The sanction failure flag has been cleared for {!Get_Account_Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Created for Sanction Service Update callout</description>
        <name>Sanction_Service_Update_Callout</name>
        <label>Sanction Service Update Callout</label>
        <locationX>1889</locationX>
        <locationY>168</locationY>
        <actionName>SanctionSearchUpdateController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Process_Completed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Collect_All_Opportunity_To_Decline</name>
        <label>Collect All Opportunity To Decline</label>
        <locationX>1625</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>OpportunityListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_the_List_Of_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_the_List_Of_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sanction_Id</name>
        <label>Set Sanction Id</label>
        <locationX>761</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>SanctionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sanction_Status_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SanctionObjStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sanction_Status_Record.Sanction_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTaskRecordId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>1355</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.Close_Reason_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_the_List_Of_Opportunities.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_All_Opportunity_To_Decline</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClearSanctionsFailure</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Clear Sanctions Failure&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clear Sanctions Failure</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeclineSubmissions</name>
        <choiceText>Confirm Sanctioned Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Sanctioned Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>PotentialMatchChoice</name>
        <choiceText>Confirm Sanctioned Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm Sanctioned Account</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Declined_or_Cleared</name>
        <label>Declined or Cleared</label>
        <locationX>847</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Clear_Sanctions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cleared</defaultConnectorLabel>
        <rules>
            <name>Declined</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sanction_Action_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeclineSubmissions</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Potential_Match_Options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PotentialMatchChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decline_Submission_Screen</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <description>This flow is used in CELERITY Sanction flow by Reviewer to check the Sanctions on the Account</description>
    <dynamicChoiceSets>
        <name>SubmissionDeclineReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cel_Decline_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Sanction Failed/Clear Action by Reviewer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sanction Failed/Clear Action by Reviewer</label>
    <loops>
        <name>Loop_Over_the_List_Of_Opportunities</name>
        <label>Loop Over the List Of Opportunities</label>
        <locationX>1393</locationX>
        <locationY>583</locationY>
        <collectionReference>Get_Opportunities_To_Decline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decline_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This node will get the Account record based on AccountId passed from the flexi page</description>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>547</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sanction_Status_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities_To_Decline</name>
        <label>Get Opportunities To Decline</label>
        <locationX>1172</locationX>
        <locationY>550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_the_List_Of_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Submission_Record_Type_Name.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Broker_count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Policy__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sanction_Status_Record</name>
        <label>Get Sanction Status Record</label>
        <locationX>680</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Sanction_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sanction_Status__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Submission_Record_Type_Name</name>
        <label>Get Submission Record Type Name</label>
        <locationX>927</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sanction_Action_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Celerity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaskRecordId</name>
        <label>GetTaskRecordId</label>
        <locationX>796</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Submission_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cel_Clear_Sanction_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Open_Sanctions_Clearance_Request_Tasks</name>
        <label>Complete Open Sanctions Clearance Request Tasks</label>
        <locationX>1731</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Sanction_Service_Update_Callout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTaskRecordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Decline_Opportunities</name>
        <label>Decline Opportunities</label>
        <locationX>1677</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>OpportunityListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1846</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>DeclineSanctionEmailforCelerity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEL_Sanction_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endorsement_Update_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Note__c</field>
            <value>
                <elementReference>Decline_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_On_Clearing_Failed_Sanction</name>
        <label>Update Account On Clearing Failed Sanction</label>
        <locationX>1297</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Update_Sanction_Obj_On_Clearing_Failed_Sanction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CEL_Sanction_Status__c</field>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Endorsement_Update_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Note__c</field>
            <value>
                <elementReference>Rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sanction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sanction_Obj</name>
        <label>Update Sanction Obj</label>
        <locationX>1844</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>Complete_Open_Sanctions_Clearance_Request_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SanctionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue>Sanctioned Entity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Note__c</field>
            <value>
                <elementReference>Decline_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sanction_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Sanction_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sanction_Obj_On_Clearing_Failed_Sanction</name>
        <label>Update Sanction Obj On Clearing Failed Sanction</label>
        <locationX>1384</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>Notify_User_of_Cleared_Sanctions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SanctionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Decline_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Note__c</field>
            <value>
                <elementReference>Rationale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewed_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sanction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sanction_Status__c</field>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </inputAssignments>
        <object>Sanction_Status__c</object>
    </recordUpdates>
    <screens>
        <name>Clear_Sanctions</name>
        <label>Clear Sanctions</label>
        <locationX>1164</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account_On_Clearing_Failed_Sanction</targetReference>
        </connector>
        <fields>
            <name>ClearSanctionWarningMessage</name>
            <fieldText>&lt;p&gt;{!ClearSanctionWarning}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays warning before declining submissions</description>
        <name>Decline_Submission_Screen</name>
        <label>Decline Submission Screen</label>
        <locationX>1003</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunities_To_Decline</targetReference>
        </connector>
        <fields>
            <name>PotentialMatchWarning</name>
            <fieldText>&lt;p&gt;{!PotentialMatchTextToDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Completed</name>
        <label>Process Completed</label>
        <locationX>2047</locationX>
        <locationY>355</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProcessCompletedDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The process has been completed successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sanction_Action_Options</name>
        <label>Sanction Action Options</label>
        <locationX>1095</locationX>
        <locationY>141</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Declined_or_Cleared</targetReference>
        </connector>
        <fields>
            <name>Sanction_Action_Option</name>
            <choiceReferences>DeclineSubmissions</choiceReferences>
            <choiceReferences>ClearSanctionsFailure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account_Record.CEL_Sanction_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Potential Match</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Potential_Match_Options</name>
            <choiceReferences>PotentialMatchChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Options</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account_Record.CEL_Sanction_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Failed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Decline_Note</name>
            <dataType>String</dataType>
            <fieldText>Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Sanction_Action_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DeclineSubmissions</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Potential_Match_Options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PotentialMatchChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Rationale</name>
            <dataType>String</dataType>
            <fieldText>Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sanction_Action_Option</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClearSanctionsFailure</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ClearSanctionWarning</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(62, 62, 68);&quot;&gt;By indicating&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 68);&quot;&gt; {!Get_Account_Record.Name} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 68); font-size: 14.6667px; font-family: Calibri, sans-serif;&quot;&gt;is not a match for sanctions you confirm that you have reviewed the record in sanctionssearch.com, the Innovisk Sanctions and Export Control Policy, and the Innovisk Sanctions, Anti-Money Laundering and Counterparty Approval Process&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeclineSubmissionsWarnining</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are about to decline the sanctions clearance request for {!Get_Account_Record.Name}. This will decline all&amp;nbsp;Submission records with status&amp;nbsp;not in &quot;Closed Won&quot;&amp;nbsp;related to this Account.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PotentialMatchTextToDisplay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You are about to confirm a positive sanction match for {!Get_Account_Record.Name}. In doing so this will decline all&amp;nbsp;Submission records with status&amp;nbsp;not in &quot;Closed Won&quot;&amp;nbsp;related to this Account. Any active policies should be referred to compliance.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SanctionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SanctionObjStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
